
  <!-- Compiled and minified JQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <!-- JavaScript for TOC generator -->
  <script src="{{ "/assets/js/toc.js" | prepend: site.baseurl }}"></script>

  <!-- JavaScript for UI actions -->
  <script src="{{ "/assets/js/ui-actions.js" | prepend: site.baseurl }}"></script>
