<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
      </div>
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav fixed" style="left: 0px;">
    <li class="logo">
      <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
        <object id="front-page-logo" type="image/svg+xml" data="http://materializecss.com/res/materialize.svg">Your browser does not support SVG</object>
      </a>
    </li>
    <li class="no-padding">
      {% include doc_sections.html %}
    </li>
    {% include site_pages.html %}
  </ul>
</header>
