body > header, body > main, body > footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  body > header, body > main, body > footer {
    padding-left: 0;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a.button-collapse.top-nav {
  position:absolute;
  text-align:center;
  top:0;
  float:none;
  margin-left:1.5rem;
  color:#fff;
  font-size:32px;
  z-index:2;
}
@media only screen and (max-width: 600px){a.button-collapse.top-nav{left:5%;}}
@media only screen and (max-width: 992px){nav .nav-wrapper{text-align:center;}}

ul.side-nav.fixed li.logo {
  text-align:center;
  margin-top:32px;
  margin-bottom:80px;
}

ul.side-nav.fixed li.logo:hover {
  background-color:transparent;
}

ul.side-nav.fixed {
  overflow:hidden;
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li:active, ul.side-nav.fixed li.active {
    background-color: rgba(0,0,0,0.05);
}

ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #fff;
}

i.fa.left, i.fa.right {
  float: none !important;
}
